<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head> -->
<!-- <body> -->
<% layout('layouts/boilerplate') %>

<div id="cluster-map">

</div>
    <h1>All Campgrounds</h1>
    <div>
        <!-- <a href="/campgrounds/new">Add A new</a> -->
    </div>
    <!-- <ul> -->
        <% for(let campground of campgrounds){ %>
            <!-- <li> -->
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <%if(campground.images.length){%>
                                <img crossorigin="anonymous" src="<%=campground.images[0].url %>" alt="" class="img-fluid">
                            <% }else{ %>
                                <img crossorigin="anonymous" class="img-fluid" src="https://res.cloudinary.com/dxuf2mrua/image/upload/v1758179851/YelpCamp/j2ujz3ntaj8sh9zfkjqb.jpg" alt="" class="img-fluid">
                                <% } %>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title"><%=campground.title %></h5>
                                <p class="card-text"><%=campground.description %></p>
                                <p class="card-text">
                                    <small class="text-muted"><%=campground.location %></small>
                                </p>
                                <a class="btn btn-primary" href="/campgrounds/<%=campground._id %>">View <%=campground.title %></a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </li> -->
            <% } %>
            <script>
                const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
                const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
            </script>
            <script src="/javascripts/clusterMap.js"></script>
    <!-- </ul> -->
<!-- </body>

</html> -->